<h3><%= @idea.title %></h3>
<p><%= @idea.body %></p>
<% if @idea.user.present? %>
<p>Created by: <%= @idea.user.name_display %></p>
<% end %>

<p>Likes: <%= @idea.likes.count %> </p>
<%#= link_to "Like", idea_likes_path(@idea), method: :post, class: "btn btn-primary" %>
<% if @like %>
  <%= link_to fa_icon("heart 3x"), idea_like_path(@idea, @like), method: :delete, style: "color:red" %>
<% else %>
<%= link_to fa_icon("heart-o 3x"), idea_likes_path(@idea), method: :post, style: "color:red" %>
<% end %>

<p>Joins: <%= @idea.joins.count %> </p>
<% if @join %>
<%= link_to "Un-join", idea_join_path(@idea, @join), method: :delete, class: "btn btn-danger" %>
<% else %>
<%= link_to "Join", idea_joins_path(@idea), method: :post, class: "btn btn-primary" %>
<% end %>



<h2> Comments </h2>
<% @idea.comments.each do |comment| %>
  <p><%= comment.body %></p>
 <hr>
  <% end %>


 

<%= form_for @comment, url: idea_comments_path(@idea) do |f| %>
<%= f.text_area :body, placeholder: "Add your comments here" %>
<br>
<%= f.submit %>
<% end %>